/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
} */
/*
.colored {
  background-color: black!important;
}

.mastheadImage {
  opacity: .8;
}

.carousel-caption-logo {
    bottom: 30%!important;
}

.mcmocfLogo {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
filter: drop-shadow(0 0 .25rem black);
}

.App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.masthead {
  height: 10vh;
  background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url('/pic3.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
} */

.centerText {
  text-align: center;
}
